<div class="relative w-full h-full">

  <!-- Title row -->

  <div class="absolute bottom-7 left-12">

    <!-- Subtitle -->
    <div class="mb-5 flex relative text-6xl font-['KyivTypeSans'] justify-between text-accent gap-12 pr-4 pl-2">
      <h2 [@textChange]="subtitleArr[timeOfTheDay]">
        {{ subtitleArr[timeOfTheDay] }}
      </h2>
      <display-time [showSeconds]="showSeconds" [@textChange]="subtitleArr[timeOfTheDay]" />
    </div>

    <!-- Title -->
    <h1 class="font-['Inknut_Antiqua'] text-9xl font-black tracking-widest text-primary"
      [@textChange]="titleArr[timeOfTheDay]">
      {{ titleArr[timeOfTheDay].toUpperCase() }}
    </h1>

  </div>

  <playlist [songs]="songs" [showThemeButtons]="showThemeButtons" [timeOfTheDay]="timeOfTheDay"
    (changedTime)="changeTime($event)" />

  <wave class="-z-10" [timeOfTheDay]="timeOfTheDay" />

  <weather />

  <maxwell [timeOfTheDay]="timeOfTheDay" />

  <settings (updateSongs)="updateSongs()" (changeTheme)="changeTime($event)" (changeSeconds)="setSeconds($event)"
    (changeThemeButtons)="setThemeButtons($event)" />
</div>

<router-outlet />